attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cycler==0.11.0
fonttools==4.31.2
future==0.18.2
idna==3.3
iniconfig==1.1.1
kiwisolver==1.4.2
latexcodec==2.0.1
matplotlib==3.5.1
monty==2022.3.12
mpmath==1.2.1
mypy==0.942
mypy-extensions==0.4.3
networkx==2.7.1
numpy==1.22.3
packaging==21.3
palettable==3.3.0
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pluggy==1.0.0
py==1.11.0
pybtex==0.24.0
pymatgen==2022.3.29
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.8.0
six==1.16.0
sortedcontainers==2.4.0
spglib==1.16.3
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.1.1
uncertainties==3.1.6
urllib3==1.26.9
